<div class="container">
  <div class="page-header">
    <h1>Drones</h1>
    <p class="lead">What are you running today?</p>
  </div>
  
  <div class="row">
    <div class="span12">
      <table class="repositories table table-striped table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th>Access</th>
            <th>Name</th>
            <th>Description</th>
            <th>Watchers</th>
            <th>Last Pushed</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>